.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;

    .page,
    .firstLast,
    .nextPrev {
        user-select: none;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .page--active {
        font-weight: 600;
    }

    .hidden {
        visibility: hidden;
    }

    .active {
        background: black;
        color: white;
        border-color: black;
    }
}
