@use '/src/styling/breakpoints.scss' as b;

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.35rem;
    margin: 1rem auto;

    &.tags--dark .tag {
        background-color: var(--color-dark-background-primary);
        border: 1px solid var(--color-dark-border);

        p {
            color: white;
        }

        &--active {
            background-color: white;
            border-color: white;

            p {
                color: black;
            }
        }
    }

    &.tags--light .tag {
        background-color: var(--color-light-background-primary);
        border: 1px solid var(--color-light-border);

        p {
            color: black;
        }

        &--active {
            background-color: black;
            border-color: black;
            p {
                color: white;
            }
        }
    }

    @include b.md {
        margin: 1rem 0;

        .title {
            margin-right: 0.3rem;
        }
    }

    p {
        margin: 0;
    }

    .tag {
        padding: 0.1rem 0.6rem;
        border-radius: 20rem;
        cursor: pointer;
        p {
            font-size: 0.7rem;
            @include b.md {
                font-size: 0.8rem;
            }
        }
    }

    .remove {
        cursor: pointer;
        margin-left: 0.3rem;
        display: flex;
        align-items: center;
    }
}
