@use '/src/styling/breakpoints.scss' as b;

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.35rem;
    margin: 1rem auto;   

    @include b.md {
        margin: 1rem 0;

        .title {
            margin-right: 0.3rem;
        }
    }

    p {
        margin: 0;
    }

    .tag {
        padding: 0.1rem 0.6rem;
        border-radius: 20rem;
        cursor: pointer;
        p {
            font-size: 0.7rem;
            @include b.md {
                font-size: 0.8rem;
            }
        }
    }

    .remove {
        cursor: pointer;
        margin-left: 0.3rem;
        display: flex;
        align-items: center;
    }
}
